*.d
*.o
*.o.cmd
*.o.S
*.out
*.log

# clangd
/compile_commands.json
.cache/

# Generated configuration filess
/config.mk

# top-level test files
/simple
/good_write
/bad_no_bbm
/bad_bbm_missing_tlbi
/good_bbm
/bad_no_assoc_lock
/bad_unlocked_write
/bad_race
/bad_reuse_page
/bad_free_page_without_clean
/good_free_page
/good_free_tree
/good_write_child
/bad_switch_wrong_vmid
/good_bbm_by_VMID
/bad_bbm_by_wrong_VMID
